# 
# /etc/my.cnf.d/openstack.cnf
# bind-address
#
[mysqld]
bind-address = 192.168.121.55

default-storage-engine = innodb
innodb_file_per_table = on
max_connections = 4096
collation-server = utf8_general_ci
character-set-server = utf8
